/*Styling for Index Page*/


/********** Revising Defaults **********/
body, h1, h2, h3, h4 {
    margin-bottom:0px;
    font-family:Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:200;
}

h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom:25px;
}

h2 {
    font-weight: 500;
    font-size:18pt;
}

h3 {
    font-weight: 300;
    font-size:14pt;
}



/********** Header Section **********/

.jumbotron {
    margin-bottom: 0;
    background: url('../img/journal-genetics.png') right 20%;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-top: -20px;
    position: relative;
    box-shadow: 0 0 15px grey;
}

.banner-ribbon {
    background-color: rgba(255,255,255,0.90);
    width: 60%;
    /*border: 1px solid rgba(199,199,199,0.75);*/
    padding-bottom:20px;
}


#tagline{
    font-style: italic;
    font-size: 18pt;
    font-weight:200;

}


/********** Tool Section **********/

.tool {
    width:100%; 
    height:275px; 
    text-align: center;
    /*background-color:rgba(252,252,252,1);*/
    padding-top:12px;
    padding-bottom:20px;
}

.tool > p {
    font-size:14pt;
    margin-bottom: 10px;
}

.tool > h1 {
    margin-bottom: 15px;
}


/********** Features Section **********/

#features{
    background: url('../img/Background.png') right 20%;
    background-size: 100%;
    margin:0;
    width:100%;
    box-shadow: 0 0 10px grey;
}

.bit {
    height: 135px;
    background-color: rgba(248,248,248, 0.5);
    padding:15px;
    margin-left:7px;
    margin-right:7px;
    width:30%;
    border-radius: 4px;
    display:table;
}

.icon {
    width: 25%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.icon > img {
    opacity: 0.8;
    width: 75px;
}

.info {
    padding-left: 10px;
    width: 72%;
    display: table-cell;
    vertical-align: middle;
}

.info > h3, p{
    margin:0;
    padding:0;
}

.info > h3 {
    padding-bottom:2px;
}

.row {
    margin-bottom: 20px;
}


/********** Sponsor Section **********/

.sponsors{
    width:100%;
    height:200px;
}

.affiliates {
    margin-top: 30px;
}


/********** About Section **********/
.about{
    height:400px;
    background-color: #F5F5F5;
    /*rgba(248,248,248,0.55);*/
    padding-top:5px;
    box-shadow: 0 0 10px grey;
}

.content{
    width: 85%;
    margin-right:auto;
    margin-left:auto;
}

.about-columns {
    text-align: center;
    
}


.aboutHeader {
    text-align: center;
    margin: 5px;
}

.aboutBody {
    text-align: center; 
}


.spyro-header {
    font-size: 20px;
}


/********** Footer Section **********/

.footer{
    height: 40px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}



