.navbar-logo {
    margin-top: -5px;
}

.banner {
    background: url('../img/genome_sequence.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    margin-top: -20px;
    position: relative;
    width: inherit;
    height: 400px;
}

.banner-ribbon {
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    bottom: 0;
    font-style: italic;
    left: 0;
    padding-left: 20px;
    position: absolute;
    width: 60%;
    height: 60px;
}

.banner-ribbon p {
    font-size: 30pt;
}

.info {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.affiliates {
    margin-top: 30px;
}