.navbar-logo {
    margin-top: -15px;
}

.banner {
    background: url('../img/journal-genetics.png') right 20%;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-top: -20px;
    position: relative;
    width: inherit;
}

.row {
    margin-bottom: 20px;
}

.banner-ribbon {
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
    bottom: 0;
    font-style: italic;
    left: 0;
    padding-left: 20px;
    position: absolute;
    width: 60%;
    height: 60px;
}

.banner-ribbon p {
    font-size: 30pt;
}

.bit {
    height: 160px;
}

.bit .icon {
    width: 25%;
    display: inline-block;
}

.bit .icon img {
    margin-top: -80%;
    opacity: 0.7;
    width: 80%;
}

.bit .info {
    padding-left: 10px;
    width: 75%;
    display: inline-block;
}

.affiliates {
    margin-top: 30px;
}

.col-about {
    width: 22%;
    display: inline-block;
}

.space {
    clear: both;
    padding: 50px;
}