
body{
    margin-bottom:0px;
    overflow:hidden;
    font-family:Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/********** Top Nav Bar **********/
.navbar-fixed-top {
    margin-bottom: 0;
    position: relative;
}

.navbar-default {
    /*border-color:#999;*/
    border-width:2px;
    border-top:0px;
}

.navbar-default .navbar-nav>li>a {
    color:#555;
}

.navbar-logo {
    margin-top: -15px;
}

.navbar > .container {
    margin:0px;
    padding-right: 10px;
    width:100%;
}

.about-container, .index-container {
    width: 98vw !important;
}

#navbar > ul > li > a{
    border-left:2px solid #C7C7C7;
    border-right: 0px solid #C7C7C7;
    height:50px;
}

.nav-icons {
    text-align: center;
    width: 80px;
}

.icon-labels {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    cursor: pointer;
}

.icon_links {
    padding: 5px 10px 0px 10px !important;
    /*padding-left: 15px !important;
    padding-right: 15px !important;*/
    border-right: 1px solid gray;
}

#download_icon, #save_icon, #update_icon {
    height: 20px;
}

.dropdown{
    font-size:17px;
}

.saved-sessions-li {
    padding: 5px;
}

.saved-session-remove, .saved-session-retrieve {
    cursor: pointer;
}

#saved-sessions-dropdown>li>a {
    display: inline !important;
    padding: 7px
}

/********** Footer Bar **********/
.footer {
    position:fixed;
    z-index:1000;
}

/********** Sections **********/
#topSection {
}


#bottomSection {
    /*margin-top:50vh;*/
    height:45vh;
    /*width:100vw;*/
    /*display:block;*/
    /*border-top: 10px solid black;*/
    float:left;
    /*position:absolute;*/
    /*top:50vh;*/
    /*overflow: scroll;*/
}


/********** SideBar **********/
.sidebar {
    display: inline-block;
    float: left;
    width: 75px;
    background-color: #98CBC3;
    border-right: 1px; 
    height: 47vh;
    z-index:1; /*to help with layering*/
    position:relative;
}

.sidebar-icons{
    width:50px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.sidebarBottom {
    background-color: #A9C662;
    display: block;
    /*margin-top:5px;*/
}

#downloadButton {
    background-color:rgba(255,255,255,0.20);
    text-align:center;
    position:fixed;
    bottom:30px;
    padding:5px;
    /*padding-top:5px;*/
    width:75px;
}

#downloadButton > a >label{
    color:white;
}

#downloadButton > a> img{
    width:35px;
}

#downloadButton > a:hover, a:visited, a:focus{
    text-decoration: none;
}

#downloadButton:hover{
    background-color:#879e4e;
}

.top-view-selected {
    background-color: #98CBC3; 
}

.bottom-view-selected {
    background-color: #A9C662;
}

/********** Background Shading for SideBar Selections **********/
#family-view-icon:hover, #file-view-icon:hover, .top-view-selected {
    background-color:#4b9188 !important;
}

#bar-graph-viz:hover, #bio-graph-viz:hover, .bottom-view-selected {
    background-color:#879e4e !important;
}


/********** Content **********/
.section-header{
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top:10px;
    margin-bottom:5px;
    font-size:15pt;
    font-weight: 200;
    font-style: italic;
}

.section-header > h1{
    margin: 0;
    padding-bottom: 5px;
    margin-bottom:5px;
    font-size:15pt;
    font-weight: 200;
    font-style: italic;
    display:inline;
}

/********** Select Family Tree Dropdown **********/
.select-family-labels {
    color: black;
}

.select-family-checkboxes {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.content{
    float: left;
    display: inline-block;
    width: 94%; /*fall-back if need be*/
    width: calc(100vw - 78px);
    
    margin: 0;
    height: 46vh;
    padding-left:10px;
    /*margin-top:10px;*/
    position: absolute;
}

#bottomSection {
    background-color: none;
}

#bottomSection > .content {
    background-color: white;
    /*overflow: scroll;*/
}


/********** Family View Section **********/
.FamilyViewContent {
    height:100%;
}

.FamilyViewContent > .section-header,
.FamilyViewContent > .section-body {
    width: 85%;
    display:inline-block;
}

.FamilyViewContent > .section-header {
    margin-bottom:20px;
}

.family-button-key, .family-button-colors {
    display: inline-block;
}

.family-button-key {
    float: right;  
    margin-right: 20px; 
    font-style: normal;
}

.family-button-colors {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 4px
}

.father-color, .mother-color, .child-color {
    background-color: #F7F7F7; 
}

.father-color {
    border: 2px solid #003d7f;
}

.mother-color {
    border: 2px solid #99231c;
}

.child-color {
    border: 2px solid #b28e00;
}

/* Select Family Sidebar */
#selectFamily {
    width:14.9%;
    height:100%;
    background-color: rgba(238,238,238, 0.5);
    float:right;
    border-left: 5px solid #eeeeee;
    text-align: center;
}

.familyDropdown {
    list-style-type: none;
    padding:0;
    /*overflow:scroll;*/

}

.section-body {
    width: 100%; 
    /*height: 100%; */
    text-align: center;
 }

/* Multiple Family Cards */
.multiple-family-buttons {
    background-color: #F7F7F7; /*#EBEBEB;*/
    width: 80%;
    height: 30px;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    /*Text Alignment*/
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


.multiple-family-buttons.clicked {
    background-color: #BCBCBC;
}

.Father-button {
    border: 2px solid #003d7f;
    color: #003d7f;
}

.Mother-button {
    border: 2px solid #99231c; 
    color: #99231c;
}

.Child-button {
    border: 2px solid #b28e00;
    color: #b28e00;
}


.multiple-family-cards {
    background-color: #95D7CF; 
    border-radius: 2em;
    width: 15%; 
    height: 200px; 
    /*display: inline-block;*/
    display:none;
    margin-left: 15px;
    margin-right: 15px;
}

.multiple-family-cards > h3 {
    font-weight: 300;
    /*margin-top:10;*/
    margin-bottom:13px;
    color: white;
}

.select-member-labels {
    vertical-align: sub;
}

/* Initial Family View Prompt */
.family-view-initial-msg {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.initial-msg {
    line-height: 35px;   
    font-weight: 200;
    font-style:italic;
}



/********** File Directory **********/
.FileDirectoryContent {
    display: none;
    height:100%;
}

#fileDirectoryTable {
    height:calc(100% - 40px);
    overflow: scroll
}

.BarGraphViz {
    display: none;
}

.BioGraphViz {
    display: none;
    height: 100%;
    width:100%;
}

.fileview-table-rows.clicked {
    background-color: #CBE9E6 !important;
     
}

.fileview-table-rows {
    cursor: pointer;
}

.fileview-checkmark {
    /*background-image: url("../img/checkmark.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: 25px; 
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.tableHeading {
    cursor: pointer;
}

/********** Divider Bar **********/
.hr {
    text-align: center;
    height:15px;
    cursor: row-resize;

    /* Fixing layering issue */
    position:relative;
    z-index:100;
}

.hr > hr{
    display: block;
    border-width: 15px;
    border-color: rgba(11, 72, 107, 1);
    width: 100vw;
    margin: 0;
    
}

.hr > img{
    position: relative;
    height: 12px;
    top: -21px;
}

.collapseButton {
    display: inline-block;
    background-color: rgba(238, 238, 238,0); /*#f4511e*/
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;

    top:-21px;
    height:100%;
    padding:0px;
    position:relative;
}

.collapseButton > img {
    height:12px;
    vertical-align: top;
    margin-top:7px;
}


/********** Bottom Content ***********/
.bottom-header {
    margin: 0;
    padding-bottom: 10px;
}

#outer_data-vis-body_2 {
    height:calc(100% - 42px);
    overflow-x: scroll;
    overflow-y:hidden;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
}

#data-vis-body_2 {
    height:94%;
    background-color:white;
}

#data-vis-content {
    padding-top:5px; 
    height: calc(45vh - 25px);
    /*margin-top:5px; */
}

.data-vis-initial-msg {
    text-align: center;
}

.data-vis-coordinates {
    /*display: inline-block;*/
    float: right;
}

.data-vis-forms {
    display: inline-block;
    margin-right: 10px;
}

.data-vis-forms > label {
    font-size:12pt;
    font-weight:600;
    font-style:normal;
}

#coordinateSubmitButton {
    font-size: 17px;
    font-style:normal;
}

.data-vis-inputs {
    display: inline-block;
    height: 30px;
    font-style:normal;
}

.data-vis-index-chrom {
    width: 50px;
}

.data-vis-index-start, .data-vis-index-end {
    width: 115px;
}

.bottom-icon {
    border: none;
}

/********** Biograph Data ***********/
.biograph-data {
    background-color: #EBEBEB;
    width: 375px;
    display: inline-block;
    margin: 10px;
    height:calc(100% - 20px);
    white-space: pre;
}

.biograph-data > div {
    padding-left: 15px;
}

.family-x-biograph-data > .biograph-headers {
    background-color: rgba(185,136,151,.9);
}

.family-y-biograph-data > .biograph-headers {
    background-color: rgba(126,168,107,.9);
}

.family-z-biograph-data > .biograph-headers {
    background-color: rgba(107,156,168,.90);
}

.biograph-headers {
/*    background-color: #B2CF87;*/
    text-align: center;
    padding: 10px;
    height: 35px;
    color:white;
}

.biograph_Content {
    overflow-y: scroll;
    height:calc(100% - 10px);
    background-color:#EBEBEB;
}

pre {
    border:none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
