
.navbar-fixed-top {
    margin-bottom: 0;
}

.nav-icons {
    
}

.icon_links {
    padding: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-right: 1px solid gray;
}

#download_icon, #save_icon, #refresh_icon {
    height: 30px;
}

.topSection {
    margin-top:50px;
}

.topSection > div {
    padding-top:10px;
}

.sidebar {
    display: inline-block;
    float: left;
    width: 75px;
    background-color: rgba(94, 182, 171, 0.756862745098039);
    border-right: 1px; 
    height: 50vh;
}

.content{
    float: left;
    display: inline-block;
    /*background-color: blue;*/
    width:92vw;
    margin: 0;
    padding-left:7px;
}

.section-header > h1{
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom:5px;
    font-size:18pt;
    font-weight: 200;
    font-style: italic;
}

.FileDirectoryContent {
    display: none;
}

.sidebar-icons{
    width:50px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#side-menu > li > a{
    padding-top:0;
}


