

/********** Top Nav Bar **********/
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-logo {
    margin-top: -15px;
}
.nav-icons {
    text-align: center;
    width: 80px;
}

.icon-labels {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    cursor: pointer;
}

.icon_links {
    padding: 5px 10px 0px 10px !important;
    /*padding-left: 15px !important;
    padding-right: 15px !important;*/
    border-right: 1px solid gray;
}

#download_icon, #save_icon, #update_icon {
    height: 25px;
}

/********** Footer Bar **********/
.footer {
    position:fixed;
}

/********** Sections **********/
#topSection {
    margin-top:50px;
}


#bottomSection {
    /*margin-top:50vh;*/
    /*height:45vh;*/
    /*width:100vw;*/
    /*display:block;*/
    /*border-top: 10px solid black;*/
    float:left;
    position:absolute;
    top:50vh;
    /*overflow: scroll;*/
}


/********** SideBar **********/
.sidebar {
    display: inline-block;
    float: left;
    width: 75px;
    background-color: #98CBC3;
    border-right: 1px; 
    height: 46vh;
}

.sidebar-icons{
    width:50px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.sidebarBottom {
    background-color: #A9C662;
    display: block;
    margin-top:5px;
}

/********** Background Shading for SideBar Selections **********/
#family-view-icon:hover, #file-view-icon:hover {
    background-color:#4b9188 !important;
}

#bar-graph-viz:hover, #bio-graph-viz:hover {
    background-color:#879e4e !important;
}


/********** Content **********/
.section-header{
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top:10px;
    margin-bottom:5px;
    font-size:15pt;
    font-weight: 200;
    font-style: italic;
}

.section-header > h1{
    margin: 0;
    padding-bottom: 5px;
    margin-bottom:5px;
    font-size:15pt;
    font-weight: 200;
    font-style: italic;
    display:inline;
}

/********** Select Family Tree Dropdown **********/
.select-family-labels {
    color: black;
}

.select-family-checkboxes {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.content{
    float: left;
    display: inline-block;
    width: 94%; /*fall-back if need be*/
    width: calc(100vw - 78px);
    
    margin: 0;
    height: 46vh;
    padding-left:10px;
    /*margin-top:10px;*/
    overflow: scroll;
    position: absolute;
}

#bottomSection {
    background-color: none;
}

#bottomSection > .content {
    background-color: white;
}


/********** Family View Section **********/
.FamilyViewContent {
    height:100%;
}

.FamilyViewContent > .section-header,
.FamilyViewContent > .section-body {
    width: 85%;
    display:inline-block;
}

/* Select Family Sidebar */
#selectFamily {
    width:14.9%;
    height:100%;
    background-color: rgba(238,238,238, 0.5);
    float:right;
    border-left: 5px solid #eeeeee;
    text-align: center;
}

.familyDropdown {
    list-style-type: none;
    padding:0;
    overflow:scroll;

}

.section-body {
    width: 100%; 
    /*height: 100%; */
    text-align: center;
 }

/* Multiple Family Cards */
.multiple-family-buttons {
    background-color: #eee;
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    /*Text Alignment*/
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


.multiple-family-buttons.clicked {
    background-color: grey;
}



.multiple-family-cards {
    background-color: teal; 
    width: 15%; 
    height: 200px; 
    /*display: inline-block;*/
    display:none;
    margin-left: 15px;
    margin-right: 15px;
}

.select-member-labels {
    vertical-align: sub;
}

/* Initial Family View Prompt */
.family-view-initial-msg {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.initial-msg {
    line-height: 35px;   
    font-weight: 200;
    font-style:italic;
}



/********** File Directory **********/
.FileDirectoryContent {
    display: none;
}

.BarGraphViz {
    display: none;
}

.BioGraphViz {
    display: none;
}

.fileview-table-rows.clicked {
    background-color: lightgreen !important;
     
}

.fileview-table-rows {
    cursor: pointer;
}

.fileview-checkmark {
    /*background-image: url("../img/checkmark.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: 25px; 
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin: 0;
    cursor: pointer;
}

.tableHeading {
    cursor: pointer;
}

/********** Divider Bar **********/
.hr {
    text-align: center;
    height:7px;
    /*position:abolute;*/
    z-index:100;
    cursor: row-resize;
}

.hr > hr{
    display: block;
    border-width: 12px;
    border-color: rgba(11, 72, 107, 1);
    width: 100vw;
    margin: 0;
    
}

.hr > img{
    position: relative;
    height: 12px;
    top: -17px;
}


/********** About Page **********/
.aboutHeader {
	text-align: center;
	margin:	5px;
}

.aboutBody {
	text-align: center;	
}

p {
	display: inline;
}

.spyro-header {
    font-size: 20px;
}

/********** Bottom Content ***********/
.bottom-header {
    margin-top: 0;
    padding-bottom: 10px;
}

#data-vis-content {
    padding-top:5px; 
    margin-top:5px; 
}

.data-vis-initial-msg {
    text-align: center;
}

.data-vis-coordinates {
    /*display: inline-block;*/
    float: right;
}

.data-vis-forms {
    display: inline-block;
    margin-right: 10px;
}

.data-vis-inputs {
    display: inline-block;
    height: 30px;
}

.data-vis-index-chrom {
    width: 50px;
}

.data-vis-index-start, .data-vis-index-end {
    width: 115px;
}

.bottom-icon {
    border: none;
}

/********** Biograph Data ***********/
.biograph-data {
    background-color: lightblue;
    width: 400px;
    display: inline-block;
    margin: 10px;
}

.biograph-headers {
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}
